
.vis-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 10px;
    margin: 10px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

label {
    margin: 12px;
    padding: 5px;
    border: 3px solid gray;
}

input:checked + label {
    border-color: green;
}

.rifa_table_container {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    min-height: 50px;
    padding: 12px;
    background-color: #f9f9f9;
    border: 15px inset #eee;
}


